@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --element-frost: #0e6a9f;
    --element-blaze: #db5454;
    --element-shock: #f6d887;
    --element-terra: #3f8230;
    --element-umbral: #a866d3;
    --element-radiant: #69cece;
}

a.disabled {
    @apply pointer-events-none opacity-50;
}

.card-btn {
    @apply btn p-2;
    height: unset;

    &:disabled {
        @apply text-base-content;
    }

    &.btn-primary {
        @apply text-primary-content;
    }

    &.btn-secondary {
        @apply text-secondary-content;
    }
}

.element-border {
    @apply border-0 border-l-4 border-solid;
}

.element-border-frost {
    border-color: var(--element-frost);

    &:hover {
        border-color: var(--element-frost);
    }
}

.element-border-blaze {
    border-color: var(--element-blaze);

    &:hover {
        border-color: var(--element-blaze);
    }
}

.element-border-shock {
    border-color: var(--element-shock);

    &:hover {
        border-color: var(--element-shock);
    }
}

.element-border-terra {
    border-color: var(--element-terra);

    &:hover {
        border-color: var(--element-terra);
    }
}

.element-border-umbral {
    border-color: var(--element-umbral);

    &:hover {
        border-color: var(--element-umbral);
    }
}

.element-border-radiant {
    border-color: var(--element-radiant);

    &:hover {
        border-color: var(--element-radiant);
    }
}

.element-text-frost {
    color: var(--element-frost);
}

.element-text-blaze {
    color: var(--element-blaze);
}

.element-text-terra {
    color: var(--element-terra);
}

.element-text-shock {
    color: var(--element-shock);
}

.element-text-umbral {
    color: var(--element-umbral);
}

.element-text-radiant {
    color: var(--element-radiant);
}
